<nav class="navbar navbar-mobile fixed-top navbar-expand-lg">
    <a class="navbar-brand" ui-sref="app">
    <img ng-src="./images/ITA.png" alt='logo' width="32" style="border-radius: 20px; margin-top: -5px;"> GUÍAME
  </a>
</nav>
<!-- Header con información básica -->
<nav class="navbar pb-0 bg-white text-center text-md-left">
	<span class="h4">
		{{title}}
		<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-if="loading.progress" style="vertical-align: unset;"></span>
		<span class="badge badge-pill badge-success" ng-if="loading.ok" style="padding: .05em .2em;"><i class="material-icons" style="font-size: 12px;">done</i></span>
	</span>
</nav>

<div class="card">
    <div class="card-header">
      <h2 class="mb-0 text-center text-md-left">
          <span class="h5">Introduce tu email y te enviaremos una nueva contraseña</span><br/>
      </h2>
    </div>
	<div class="card-body">
		<form>
				<div class="form-group col-12 col-md-6">
					<label>Email</label>
					<input type="email" class="form-control" ng-model="forgot.email" required>
				</div>
				<div class="form-group col-12 col-md-6 text-center text-md-left">
					<button type="submit" class="btn btn-primary" ng-disabled="!forgot.email" ng-click="emailNewPassword()">
						<i class="material-icons mi-vam">save</i> Enviar nueva contraseña
					</button>
				</div>
		</form>
	</div>
</div>

<p class="mt-4">&nbsp;</p>

<!-- Footer con botones -->
<nav class="navbar navbar-mobile fixed-bottom d-flex justify-content-around justify-content-md-end">
	<div class="btn-toobar d-none d-md-block" role="group">
		<button class="btn" type="button"></button>
	</div>
	<div class="btn-toobar d-md-none" role="group">
		<button class="btn" type="button"></button>
	</div>
</nav>