<li class="list-group-item list-group-item-action" ng-if="grupo.exists"
	ng-style="grupo.tarde ? { 'background-color':'#ddedef' } : { 'background-color':'white' }">
	<div ng-click="verGrupo()">
	  <h5>
	    {{grupo.orden}} {{grupo.agencia}}/{{grupo.ref}}
	    <span class="float-right">
	      <img ng-if="grupo.idprofilepicture && grupo.idprofilepicture > 0"
	             ng-src="./images/users/{{grupo.idprofilepicture}}.jpg"
	             alt='{{grupo.guialocal}}' width="32" style="border-radius: 20px; margin-top: -5px; margin-right: 5px;">
	      {{grupo.guialocal}}
	    </span>
	  </h5>
	  <h6>{{grupo.fechahora | date : 'HH:mm dd-MM-yyyy'}} x{{grupo.pax}}<span class="float-right">@ {{grupo.puntoencuentro.length > 0 ? grupo.puntoencuentro : '??'}}</span></h6>
	  <div>
	  <small>
	    <span>{{grupo.idiomas.length > 0 ? grupo.idiomas.toString() : 'SIN IDIOMA'}}</span>
	    <span class="float-right">{{grupo.monumentos.length > 0 ? grupo.monumentos.toString() : 'SIN MONUMENTOS'}}</span>
	  </small>
	  </div>
	</div>
</li>

<div class="alert alert-success" ng-if="grupo.exists && grupo.notificationSent">
  <i class="material-icons mi-vam">campaign</i> Notificación de lectura enviada correctamente a <strong>{{from}}</strong>.
</div>

<div class="alert alert-danger" ng-if="grupo.exists && !grupo.notificationSent">
  <i class="material-icons mi-vam">cancel</i> No se ha enviado notificación de lectura porque <strong>{{from}}</strong> no tiene las notificaciones activadas.
</div>

<div class="alert alert-danger" ng-if="!grupo.exists">
  <i class="material-icons mi-vam">cancel</i> El grupo asociado a esta notificación ya no existe.
</div>

<p class="mt-4">&nbsp;</p>

<!-- Footer con botones -->
<nav class="navbar navbar-mobile fixed-bottom d-flex justify-content-around justify-content-md-end">
	<div class="btn-toobar d-none d-md-block" role="group">
		<button class="btn btn-outline-light text-white" type="button" title="Cerrar" ng-click="closeNotification()"><i class="material-icons mi-vam">close</i> CERRAR</button>
		<button class="btn btn-outline-light text-white" type="button" title="Ver Grupo" ng-click="verGrupo()"><i class="material-icons mi-vam">visibility</i> VER GRUPO</button>
	</div>
	<div class="btn-toobar d-md-none" role="group">
		<button class="btn text-white" type="button" title="Cerrar" ng-click="closeNotification()"><i class="material-icons">close</i></button>
		<button class="btn text-white" type="button" title="Ver Grupo" ng-click="verGrupo()"><i class="material-icons">visibility</i></button>
	</div>
</nav>