<nav class="navbar navbar-mobile fixed-top navbar-expand-lg">
    <a class="navbar-brand" ui-sref="app">
    <img ng-src="./images/ITA.png" alt='logo' width="32" style="border-radius: 20px; margin-top: -5px;"> GUÍAME
  </a>
</nav>
<!-- Header con información básica -->
<nav class="navbar pb-0 bg-white text-center text-md-left" ng-if="loading">
	<span class="h4">
		{{title}}
		<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-if="loading" style="vertical-align: unset;"></span>
	</span>
</nav>

<p class="mt-4">&nbsp;</p>

<!-- Footer con botones -->
<nav class="navbar navbar-mobile fixed-bottom d-flex justify-content-around justify-content-md-end">
	<div class="btn-toobar d-none d-md-block" role="group">
		<button class="btn" type="button"></button>
	</div>
	<div class="btn-toobar d-md-none" role="group">
		<button class="btn" type="button"></button>
	</div>
</nav>